@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

/* ||| RESET */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ||||| GENERAL STYLE */

body {
  display: grid;
  place-content: center;
  font-family: "Overpass", sans-serif;
  min-height: 100vh;
  font-size: 1.4rem;
  font-weight: 400;
  color: #969fad;
  background-color: #131518;
}

h3 {
  font-size: 2.4rem;
  line-height: 3rem;
  color: #fff;
}

/* ||| SECTION RATING COMPONENT */

.rating__component,
.modal {
  max-width: 32.7rem;
  width: 90%;
  padding: 2.4rem;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 1.5rem;
}

.component__img {
  margin-bottom: 1.6rem;
}

.component__title {
  margin-bottom: 1.6rem;
}

.component__text {
  line-height: 1.8rem;
  margin-bottom: 2.4rem;
}

.rating__btn {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  border: none;
  background-color: #262e38;
  color: #7c8798;
  font-weight: 700;
  line-height: 2.4rem;
  cursor: pointer;
}

.rating__btn:hover {
  background-color: #7c8798;
  color: #fff;
}

.component__rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}

.component__cta {
  background-color: #fc7614;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1.8px;
  margin-bottom: 0.8rem;
  border: none;
  width: 100%;
  padding: 1.2rem;
  border-radius: 3rem;
  cursor: pointer;
}

.component__cta:hover {
  background-color: #fff;
  color: #fc7614;
}

/*  |||| MODAL SECTION */

.modal {
  display: grid;
  place-content: center;
  text-align: center;
}

.modal__img {
  width: 14.4rem;
  margin-bottom: 2.4rem;
}

.modal__title {
  margin-bottom: 1rem;
}

.modal__result-box {
  margin-bottom: 2.4rem;
}

.modal__subtitle {
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #fc7614;
  padding: 0.5rem 1.2rem;
  background-color: #262e38;
  border-radius: 3rem;
}

.modal__text {
  margin-bottom: 1.3rem;
}

/*  ||| JS Classes */

.hidden {
  display: none;
}

.rated {
  background-color: #fc7614;
  color: #fff;
}

@media only screen and (min-width: 500px) {
  body {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  .rating__component,
  .modal {
    max-width: 42rem;
    padding: 3.2rem;
  }

  .component__img {
  width:5.0rem;
}

  .rating__btn {
    width: 5.1rem;
    height: 5.1rem;
  }
}
